.body-wrapper {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.form-control {
  height: 32px;
  font-size: 14px !important;
  color: rgba(0,0,0,.65) !important;
  line-height: 1.5 !important;
}

button {
  color: inherit;
}

.anticon svg{
   color: inherit;
}

.input-label {
  display: inline-block;
  overflow: hidden;
  line-height: 39.9999px;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
  width: 30%;
  margin-right: 8px;
}

hr {
  opacity: 0.1 !important;
  margin: 0 !important;
}

.ant-modal-content {
  padding: 0px !important;
}

.ant-modal-header { 
  padding: 16px 24px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 0px !important;
}

.ant-modal-footer {
  padding: 10px 16px;
  border-top: 1px solid #e8e8e8;
  margin-top: 0px !important;
}